@import "./variables.scss";

* {
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  -webkit-tap-highlight-color: transparent;
}
* img {
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  color: map-get($theme-colors, "white");
  background-color: map-get($theme-colors, "teal-8");
  font-family: "JetBrains Mono", monospace;
  line-height: 2rem;
  font-size: 1.2rem;
}
header {
  padding: 2rem 0 4rem 0;

  .site-title {
    font-size: 4rem;
    font-weight: bolder;
    line-height: 110%;
    color: map-get($theme-colors, "periwinkle-3");
  }
}

main {
  margin: 0 auto;
  max-width: 650px;
  padding: 3rem 0;
}

/* header */

#bio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#img-wrapper img {
  border-radius: 50%;
  max-width: 150px;
}
#bio-wrapper {
  margin-left: 1rem;
}
#text-wrapper {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 300;
  a {
    color: cyan;
    border-bottom: 1px solid cyan;
  }
}
#social-wrapper {
  margin-top: 1rem;

  img {
    filter: invert(100%);
    width: 32px;
    height: 32px;
    margin: 0 0 0.3rem 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

/* article section */

.articles {
  display: grid;
  row-gap: 2rem;
  margin: 4rem 0 3rem 0;

  .article {
    padding: 2rem;
    background: map-get($theme-colors, "gray-8");
    border-radius: 15px;
    transition: all 0.2s ease-in-out;

    .article-title,
    .article-title a {
      font-weight: 400;
      font-style: italic;
      font-size: 1.4rem;
      line-height: 130%;
      color: map-get($theme-colors, "pink-5");
    }

    &:hover {
      transform: scale(1.05);
    }

    .date {
      display: block;
      font-size: 0.8rem;
    }

    .categories {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      .category {
        margin: 0 0.5rem 0.3rem 0;
        display: block;
        color: map-get($theme-colors, "black");
        background: map-get($theme-colors, "teal-2");
        border-radius: 15px;
        font-size: 0.8rem;
        font-weight: 800;
        padding: 0 0.8rem;
        line-height: 1.4rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: map-get($theme-colors, "white");
          background: map-get($theme-colors, "teal-5");
        }
      }
    }
  }
}

/* footer */
footer {
  font-size: 0.9rem;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
  }
  i {
    font-size: 1.4em;
    font-style: normal;
  }
}
/* media query */

@media screen and (max-width: 750px) {
  body {
    padding: 1.5rem;
  }
  header .site-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 550px) {
  header .site-title {
    font-size: 2.4rem;
  }
  .articles {
    row-gap: 1.2rem;
  }
}

@media screen and (max-width: 350px) {
  #img-wrapper img {
    max-width: 50px;
  }
  #bio {
    align-items: flex-start;
  }
  main,
  .articles {
    padding: 0;
    margin: 0;
  }
  main {
    padding-bottom: 1rem;
  }
  .articles {
    margin: 2rem 0 3rem 0;
    row-gap: 1.2rem;

    .article .article-title,
    .article .article-title a {
      font-size: 1rem;
    }
  }
  header .site-title {
    font-size: 2.3rem;
  }
  .article {
    padding: 1.2rem;
  }

}